body{
   
            
     font-family: "Jost", sans-serif;
         

}
.banner-bg{
    background-color: #9da7c1;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.nav-item{
    margin-right: 40px;
}
.banner-subtitles{
    color: #7153d9;
    font-size: 24px;
    font-weight: 500;
}
.banner-title{
    font-size: 72px;
    font-weight: 700;
}
.banner-text{
    font-size: 24px;
    font-weight: 400;
    color: #54545F;

}
.banner-btn{
    text-decoration: none;
    color: azure;
    background: linear-gradient(135deg, rgb(113, 83, 217) 0%, rgb(84, 53, 190) 45%, rgb(69, 38, 177) 66%);
    padding: 13px 40px;
    border-radius: 40px;

}
.nav-active {
    background-color: #fff;
    box-shadow: 5px -1px 12px -5px grey;
}
.feature-icon{
    background-color: #9da7c1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 7;
}
feature-text{
    color: #54545F;
}
.seperator{
    width: 3% !important ;
}
.image-section{
    min-height: 451px;
}
.Section-subtitles{
    color: #7153d9;
    font-size: 18px;
    font-weight: 500;
}
.Section-title{
    font-size: 60px;
    font-weight: 500;
}
.Section-text{
    font-size: 24px;
    font-weight: 400;
    color: #54545F;

}
.feature2-title{
    font-size: 20px;
    font-weight: 500;
}
.service-card{
    box-shadow: 0px 12px 42px rgba(69, 38, 177, 0.1),
            11px 6px 25px rgba(69, 38, 177, 0.1);

    border-radius: 20px;
    padding: 55px 45px;
}
.service-link{
    color: black;
    text-decoration: none;

}

.service-card-title a{
    text-decoration: none;
    color: black;
}
.mycontainer{
    background-color: #7153d9;
  color: #fff;
}
.my-btn-white{
    background-color: #E2C4FF;
    color: black;
    padding: 13px 40px;
    border-radius: 40px;
    text-decoration: none;
}
.boost-img2{
    margin-top: -100px;
}
.title{
     text-transform: uppercase;
     letter-spacing: 8px;
}
.Blog-subtitles{
    color: #7153d9;
    font-size: 16px;
    font-weight: 500;
}
.Blog-title{
    font-size: 21px;
    font-weight: 500;
}
/* MediaQuiries */
@media (min-width:768px) and (max-width:992) {
.feature-icon{

    width: 100px;
    height: 100px;
    line—height: 5.6;
    }
.image-section{
        min-height:240px;
        width: 100%;
    }
}